<!--navbar section start-->

<nav class="navbar navbar1 navbar-expand-lg  fixed-top px-0" id="header">
  <div class="container">
    <a class="" routerLink="/">
      <h2 class="fw-bold text-primary m-0 mt-1 mb-1 logo1"><img src="../assets/image/logo1.png" alt="logo" height="100">
      </h2>
      <h2 class="fw-bold text-primary m-0 mt-1 mb-1 logo color"><img src="../assets/image/logo.png" alt="logo"
          height="100">
      </h2>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item color">
          <a class="nav-link active" routerLink="/" (click)="onMenuClick()">Home</a>
        </li>

        <li class="nav-item dropdown dropdown1 color">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu dropdown-menu1" aria-labelledby="navbarDropdown">
            <li class="item1"><a class="item item2" href="/#aboutus" (click)="onMenuClick()">About Us</a></li>
            <li class="item1"><a class="item item2" href="/#joinus" (click)="onMenuClick()">Join Us</a></li>
            <li class="item1"><a class="item item2" href="/#testimonial" (click)="onMenuClick()">Testimonial</a></li>
            <li class="item1"><a class="item item2" href="/#corevalues" (click)="onMenuClick()">Core Values</a></li>
            <li class="item1"><a class="item item2" href="/#Business-Model" (click)="onMenuClick()">Business Model</a>
            </li>
          </ul>
        </li>
        <li class="nav-item color">
          <a class="nav-link" href="#Ourservices" (click)="onMenuClick()">Our
            Services</a>
        </li>
        <li class="nav-item color">
          <a class="nav-link" href="#Ourindustries" (click)="onMenuClick()">
            Our Industries
          </a>
        </li>

        <li class="nav-item color">
          <a class="nav-link" routerLink="/career" (click)="onMenuClick()">Career</a>
        </li>

        <li class="nav-item color">
          <a class="nav-link" routerLink="/contact" (click)="onMenuClick()">Contact Us</a>
        </li>

        <li class="nav-item color">
          <a class="nav-link" routerLink="/findjobs" (click)="onMenuClick()">Find Jobs</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!--navbar section end-->




<!--navbar section start-->

<!--navbar section end-->
