<section class="overlay"
  style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../assets/image/testimonial.jpg');">

  <div class="container">
    <h2 class="text-center">Testimonials</h2>
    <owl-carousel-o [options]="customOptions">



      <ng-template carouselSlide>
        <div class="card text-center h-100 mx-1">

          <div class="card-body">
            <h3 class="card-title">Online Instruments</h3>
            <p class="text-center" style="color:#ffd43b ;">
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
            </p>
            <p class="text-center para">There are very few talent providers are strong in DEI hiring and M and M
              technologies are one among them. Happy to see a lot of career restart and inclusion opportunities
              provided by M and M and through their networks </p>

          </div>

        </div>

      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center h-100 mx-1">

          <div class="card-body pb-4">
            <h3 class="card-title">News Tamil</h3>
            <p class="text-center" style="color:#ffd43b ;">
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>

              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
            </p>

            <p class="text-center para">M and M has been a recent addition to our organisation and they have delivered
              on time every time. Wishing them good luck</p>
            <br>
            <br>
          </div>

        </div>

      </ng-template>

      <ng-template carouselSlide>
        <div class="card text-center pb-4 h-100 mx-1">

          <div class="card-body">
            <h3 class="card-title">Elfonze</h3>
            <p class="text-center" style="color:#ffd43b ;">
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i></p>
            <p class="text-center para">M and M technologies has been vibrant in sourcing profiles and the quality of
              candidates are really impeccable. We wish them growing stronger and higher and continue their niche
              talent
              hiring strategies.</p>



          </div>

        </div>

      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center h-100 mx-1">

          <div class="card-body">
            <h3 class="card-title">Thirsty Crowz</h3>
            <p class="text-center" style="color:#ffd43b ;">
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
            </p>
            <p class="text-center para">Priya from M and M technologies has been one of the great upcoming leaders in
              the talent hiring and training space, her commitment to deliver us on dot and quality stands tall in
              their operations. Way to go Priya and team</p>

          </div>

        </div>

      </ng-template>
      <ng-template carouselSlide>
        <div class="card text-center h-100 mx-1">

          <div class="card-body p-4">
            <h3 class="card-title">Eventozo</h3>
            <p class="text-center" style="color:#ffd43b ;">
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i>
              <i class="fa-solid fa-star" style="color:#ffd43b ;"></i></p>
            <p class="text-center para">The ability to train and place good freshers is one of the key strengths of M
              and M. All the best team</p>
            <br><br><br>
          </div>

        </div>

      </ng-template>

    </owl-carousel-o>
  </div>

</section>
