<main data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 data-aos="fade-up" data-aos-duration="3000">Welcome to <br> <span>M&M Technologies</span> </h1>
          <button class="btn text-light border-light" routerLink="/findjobs"><i class="fa fa-search"
              aria-hidden="true"></i> Search
            Jobs</button>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->


  <!--Client section start-->
  <section style="background-color:white ;">
    <div class="container mt-3 mb-1 carousel" style="max-width:70% ;">
      <!--  <h2 class="text-center my-5">Our Clients</h2>-->
      <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide><img src="../assets/image/client/clients1.jpg" alt="" class="w-75 mx-auto">
        </ng-template>
        <ng-template carouselSlide><img src="../assets/image/client/clients2.jpg" alt="" class="w-75 mx-auto">
        </ng-template>
        <ng-template carouselSlide><img src="../assets/image/client/clients3.jpg" alt="" class="w-75 mx-auto">
        </ng-template>
        <ng-template carouselSlide><img src="../assets/image/client/clients4.jpg" alt="" class="w-75 mx-auto">
        </ng-template>
        <ng-template carouselSlide><img src="../assets/image/client/clients5.jpg" alt="" class="w-75 mx-auto">
        </ng-template>
        <ng-template carouselSlide><img src="../assets/image/client/clients6.jpg" alt="" class="w-75 mx-auto">
        </ng-template>

      </owl-carousel-o>
    </div>
  </section>
  <!--Client section end-->




  <!--aboutus section start-->

  <section class="aboutus" id="aboutus"
    style="background-color:rgb(216,227,232,0.5); scroll-margin-top: 130px !important; ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-5">
          <img src="../assets/image/aboutus2.png" alt="" class="img-fluid w-75 mx-auto d-block" data-aos="fade-right"
            data-aos-duration="3000">
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-duration="3000"><br><br>
          <h2>About <span>Us </span> </h2>
          <p>M and M Technologies is an outcome driven, customer centric firm. It is driven by the core values and
            stands for “What is Right, than What is Easy”</p>
          <p>We are powered by young talents with paramount professionalism challenging themselves and competing with
            our own achievements which is the secret sauce to our success.</p>
        </div>
      </div>
    </div>
  </section>

  <!--aboutus section end-->

  <section class="services1" id="Ourservices" style="background-color:var(--midwhite)">

    <div class="container">
      <h2 class="text-center head mb-5" data-aos="fade-up" data-aos-duration="3000">Our Services</h2>
      <div class="row">

        <div class="col-md-12 desktop">
          <div class="row">

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col1 " data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-people-roof icon text-center"></i>
                <h2 class="mt-5">Permanent Staffing</h2>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col2" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-person-dress icon text-center"></i>
                <h2 class="mt-5">Temporary Staffing</h2>
              </div>
            </div>


            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col3" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-magnifying-glass icon text-center"></i>
                <h2 class="mt-5">Executive Search</h2>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col4" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-user-nurse icon text-center"></i>
                <h2 class="mt-5">Employee Leasing</h2>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col5" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-person-breastfeeding icon text-center"></i>
                <h2 class="mt-5">IT infra Consulting</h2>
              </div>
            </div>


            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col6" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-person-dress-burst icon text-center"></i>
                <h2 class="mt-5">Training & Placements</h2>
              </div>
            </div>


            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center col7" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-file icon text-center"></i>
                <h2 class="mt-5">Resume Writing</h2>
              </div>
            </div>

          </div>
        </div>


        <div class="col-md-12 mobile">
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-people-roof icon text-center"></i>
                <h2 class="mt-5">Permanent Staffing</h2>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-person-dress icon text-center"></i>
                <h2 class="mt-5">Temporary Staffing</h2>
              </div>
            </div>


            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-magnifying-glass icon text-center"></i>
                <h2 class="mt-5">Executive Search</h2>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-user-nurse icon text-center"></i>
                <h2 class="mt-5">Employee Leasing</h2>
              </div>
            </div>

            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-person-breastfeeding icon text-center"></i>
                <h2 class="mt-5">IT infra Consulting</h2>
              </div>
            </div>


            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-person-dress-burst icon text-center"></i>
                <h2 class="mt-5">Training & Placements</h2>
              </div>
            </div>


            <div class="col-md-4 mx-auto">
              <div class="shadow py-5 text-center" data-aos="fade-up" data-aos-duration="3000">
                <i class="fa-solid fa-file icon text-center"></i>
                <h2 class="mt-5">Resume Writing</h2>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </section>

  <!--INDUSTRIES section start-->
  <section class="industries" id="Ourindustries">

    <div class="container">
      <div class="row">
        <h2 class="mb-5  text-center" data-aos="fade-up" data-aos-duration="3000">Our Industries</h2>

        <div class="col-md-4 bottom" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-user-doctor icon text-center"></i>
          <h3>Healthcare</h3>
        </div>

        <div class="col-md-4 center bottom" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-building-columns icon text-center"></i>
          <h3>Banking</h3>
        </div>

        <div class="col-md-4 bottom" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-chalkboard icon text-center"></i>
          <h3>Technology </h3>
        </div>

        <div class="col-md-4 bottom" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-mobile-screen-button icon text-center"></i>
          <h3>Telecommunications</h3>
        </div>

        <div class="col-md-4 center bottom" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-graduation-cap icon text-center"></i>
          <h3> Education</h3><br>
        </div>

        <div class="col-md-4 bottom" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-file-export icon text-center"></i>
          <h3>FMCG</h3>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-helmet-safety icon text-center"></i>
          <h3>Construction</h3>
        </div>

        <div class="col-md-4 center" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-arrows-to-dot icon text-center"></i>
          <h3>Automotive & Assembly </h3>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-duration="3000">
          <i class="fa-solid fa-sign-hanging icon text-center"></i>
          <h3>Real Estate</h3>
        </div>

      </div>
    </div>
  </section>

  <!--INDUSTRIES section end-->

  <!--join us section start-->
  <section class="joinus" id="joinus" style="scroll-margin-top: 100px;">
    <div class="row">
      <div class="col-md-6 content ">
        <div class="row">

          <div class="col-md-8 mx-auto">
            <h2 class="text-white">Join M&M Technologies</h2>
            <p class="text-white">It has survived not only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged.</p>
            <p><b><a routerLink="/career"> Careers <i class="fa-solid fa-arrow-right icon"></i></a></b> </p>
            <p><b><a routerLink="/findjobs"> Search and apply <i class="fa-solid fa-arrow-right icon"></i></a></b> </p>

          </div>
        </div>

      </div>
      <div class="col-md-6 image"></div>
    </div>
  </section>

  <!--join us section end-->

  <!--Meet Our Leader section start-->
  <section class="leader">
    <div class="container">

      <div class="row">
        <div class="col-md-6 mt-5" id="second">
          <div data-aos="fade-right" data-aos-duration="3000">
            <h3 class="mx-5 mt-5"><span><i class="fa-solid fa-quote-left"
                  style="font-size:80px ; color: var(--logobottomcolor) !important;"></i></span> </h3>
            <p class="pt-3">A Leader is one who knows the way, goes the way and
              shows the way.</p>
            <p class="">Me, R.Priyadharsini B.E., MBA (HR & Finance) (an entrepreneur
              with a decade rich IT & people experience) filled with passion for
              transforming people’s career & thereby being a direct or
              indirect change in their life, also aspire to build an
              organization which provides quality workforce to Indian
              Market thereby helping organizations to delivery quality
              outcomes and success their vision and mission.</p>
          </div>
        </div>
        <div class="col-md-6 text-center px-5 " id="first" style="background-color:rgb(65,160,214,0.0) ;">
          <img src="../assets/image/leaders1.png" data-aos="fade-left" data-aos-duration="3000" alt=""
            style="width:90% ; background-color:rgb(65,160,214,0.0) ;" class="img-fluid">
        </div>
      </div>

    </div>

  </section>

  <!--Meet Our Leader section end-->

  <app-testimonial style="scroll-margin-top: 100px;" id="testimonial"></app-testimonial>

  <section class="corevalues mt-5" id="corevalues" style="scroll-margin-top: 150px;">
    <div class="container">
      <h2 class="mb-5 text-center core">Core <span>Values</span> </h2>
      <div class="row">
        <div class="col-md-4 text-center">
          <h3><img src="../assets/image/activities/trust.png" alt=""> Trust Working <span>Together</span></h3>
        </div>
        <div class="col-md-4 text-center">
          <h3><img src="../assets/image/activities/customer.png" alt=""><span>Customer</span> First</h3>
        </div>
        <div class="col-md-4 text-center">
          <h3><img src="../assets/image/activities/execution.png" alt="">Purposeful <span>Execution</span></h3>
        </div>
      </div>
    </div>
  </section>

  <!--quote section end-->
  <section class="quote mt-5">
    <div class="container">
      <h2 class="text-center text-white" data-aos="fade-left" data-aos-duration="3000">You Always Get the Best Guidance
        <button type="button" class="btn btn-outline-light mx-5" [routerLink]="['/findjobs']">Register with us</button>
      </h2>
    </div>

  </section>
  <!--quote section end-->

  <!--Our Clients section start-->

  <div class="clients" style="display:none ;">
    <div class="container">
      <h2>Our <span>Clients</span></h2>
      <ul>
        <li>Indium Software Solutions</li>
        <li>Verticurl (WPP groups)</li>
        <li>Elfonze Technologies</li>
        <li>Thirsty Crowz</li>
        <li>Eventozo</li>
        <li>News Tamizh</li>


      </ul>
    </div>
  </div>

  <!--Our Clients section end-->

  <!-- Features Start -->
  <div class="container-fluid py-5 wow fadeInUp features" id="Business-Model" data-wow-delay="0.1s"
    style="scroll-margin-top: 100px;">
    <div class="container py-5">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
        <h2 class="mb-0">Staffing Business Model</h2>
      </div>
      <div class="row g-5">
        <div class="col-lg-4">
          <div class="row g-5">
            <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
              <div class="primaryicon rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px;">
                <i class="fa fa-cubes text-white fs-3"></i>
              </div>
              <h4>Conventional Hiring Platforms</h4>
              <ol>
                <li>Naukri, Times jobs, LinkedIn, Hirect, Monster, etc.</li>
              </ol>

            </div>
            <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
              <div class="primaryicon rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px;">
                <i class="fa fa-award text-white fs-3"></i>
              </div>
              <h4>DEI forums & Connects</h4>
              <ol>
                <li>Availability of channels to tap in DEI community forums.</li>
                <li>Connection with diversity leadership groups to help career resumption.</li>
              </ol>

            </div>
          </div>
        </div>

        <div class="col-lg-4  wow zoomIn image" data-wow-delay="0.9s" style="min-height: 350px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s"
              src="../assets/image/staffing.jpg" style="object-fit: cover;">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="row g-5">
            <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
              <div class="primaryicon rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px;">
                <i class="fa fa-users-cog text-white fs-3"></i>
              </div>
              <h4>Insider Referral Program </h4>
              <ol>
                <li>Building our own intellectual community to
                  refer Niche / targeted / common skills based
                  on monitory referral programs of M and M </li>
              </ol>

            </div>
            <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
              <div class="primaryicon rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px;">

                <i class="fa fa-phone-alt text-white fs-3"></i>
              </div>
              <h4>Foundation right hiring</h4>
              <ol>
                <li> Fresher hiring with targeted focus on personality, behavioral skills, email & phone etiquette.</li>
                <li>Core IT skills / Niche trainings provided based on need.</li>
              </ol>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features end -->

</main>
